.header {
  width: 100%;
  height: 65px;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 504;
}

.container {
  width: 1600px;
  margin: auto;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .header_logo {
  width: 150px;
  height: 60px;
}
.container .header_logo .logo {
  width: 100%;
  height: 100%;
}
.container .form {
  width: 100%;
  height: 35px;

  display: flex;
  position: relative;
  z-index: 1;
}
.container .form .focus:focus {
  border: 2px solid var(--hover);
  box-shadow: 0 0 10px 0px var(--hover), 0 0 5px 0px var(--hover);
}
.container .form .focus:focus-visible {
  outline: none;
}
.container .form .input {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  border-radius: 20px;
  border: 2px solid var(--background-brand) transparent;
  background-color: var(--color);
  text-align: start;
  cursor: text;
  font-family: var(--font-description);
  font-weight: 400;
  font-size: 16px;
  transition: all 0.2s ease 0s;
  text-decoration: none;
}
.container .form .btnSearch {
  position: absolute;
  right: 0;
  top: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-style: none none none solid;
  width: 50px;
  height: 23px;
  margin-right: 10px;
  cursor: pointer;
}
.container .userBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 140px;
  height: 40px;
  text-decoration: none;
  color: var(--color);
  font-family: var(--font-title);
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 16px;
  margin-left: 5px;
  text-transform: uppercase;
}
.container .userBtn .icon-user {
  font-size: 25px;
}
.container .userBtn:hover {
  border: 2px solid var(--color);
  padding: 5px 0px;
}
.container .favorites,
.cart {
  width: 45px;
  height: 40px;
  margin-left: 10px;
}
