:root {
  --background-brand: #111111;
  --background-color: #09072c;
  --background: #f6f6f6;
  --color: #ffffff;
  --color2: #00d062;
  --background-footer: #0f0a40;
  --hover: #35fed2;

  /* FONT */
  --font-title: "Rubik", sans-serif;
  --font-description: "Prompt", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
